* {
  margin: 0;
  padding: 0;
}

:root {
  --grid-rows: 1; /* Variable for how many rows the grid will have */
  --grid-columns: 1;
}

html {
  /* Centers everything into middle */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Need this to be able to align-items to the center vertically */
}

body {
  color: white;
  font-size: 18px;
  line-height: 1.4;
  background-color: rgba(60, 139, 60);
}

#header {
  color: white;
  text-align: center;
}

#snake-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#snake-grid-container {
  /* background-image: url("https://pbs.twimg.com/media/DoTwo_ZVsAAS1lw.jpg"); */
  background-size: 100% 100%;
  margin: 8px;
  border: 20px solid rgb(3, 82, 3);
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 20px);
  grid-template-columns: repeat(var(--grid-columns), 20px);
}

.grid-item1 {
  /* Darker version */
  text-align: center; /* Need text-align and font to edit apple */
  font-size: 16px;
  background: #4f961fcc;
}

.grid-item1-kentucky {
  /* Made kentucky classes to switch styles by adding and removing other grid-item1 class using jQuery*/
  /* Darker version */
  text-align: center; /* Need text-align and font to edit apple */
  font-size: 16px;
  /* Use rgba to have opacity only effect background color... */
  background-color: rgba(0, 0, 255, 0.15);
}

.grid-item2 {
  /* Lighter version */
  text-align: center;
  font-size: 16px;
  background: #7fd33186;
}

.grid-item2-kentucky {
  /* Made kentucky classes to switch styles by adding and removing other grid-item1 class using jQuery*/
  /* Lighter version */
  text-align: center; /* Need text-align and font to edit apple */
  font-size: 16px;
  /* Use rgba to have opacity only effect background color... */
  background-color: rgba(255, 255, 255, 0.15);
}

#level-change-button {
  text-align: center;
  width: 90px;
}

#style-change-button {
  text-align: center;
  width: 90px;
}

#center-buttons-container {
  display: flex; /* Created a parent for buttons-containers so it can be centered in middle of the page like everything else */
  justify-content: center;
  align-items: center;
}

#buttons-container {
  width: 460px; /* Width is the 23 columns times the 20px for each row*/
}

#high-score {
  float: left;
  width: 140px; /* Both scores must be same width so arrow function can be centered easily with margin: auto */
  font-size: 20px;
}

#score {
  float: right;
  width: 140px; /* Both scores must be same width so arrow function can be centered easily with margin: auto */
  text-align: right;
  font-size: 20px;
}

#arrow-button-container {
  margin: auto; /* Centered between the two scores because both of their widths are the same */
  display: flex;
  flex-direction: column; /* This way arrow button is above the other three buttons. (Works because three-buttons are in one container. So just stacks up button ontop of container.)*/
  justify-content: center; /* Centers the buttons horizontally*/
}

#up-button {
  display: block; /* Centers the up-button in the button-container */
  margin: auto;
}

#three-button-container {
  display: flex; /* These three align the the three buttons to the center underneath up-button */
  align-items: center;
  justify-content: center;
}

button {
  background-color: white;
  border: 1px solid rgb(3, 82, 3);
  border-radius: 5px;
  color: rgb(3, 82, 3);
  width: 40px;
  height: 20px;
}

button:hover {
  background-color: rgb(167, 167, 167);
  transform: scale(1.05);
  cursor: pointer;
}

.add-snake {
  /* snake changes have to go after grid-items so the background color is on top of theirs (green) */
  background-color: #0000ffa2;
}

.add-snake-kentucky {
  /* Use rgba to have opacity only effect background color... */
  background-color: rgba(0, 0, 255, 0.99);
  border: 2px solid black;
}

.fa-apple-alt {
  color: red;
  filter: drop-shadow(0px 0px 1.65px black);
  animation: appleAndFootballScaleAnimation 0.85s alternate infinite linear;
  -webkit-animation: appleAndFootballScaleAnimation 0.85s alternate infinite
    linear;
}

.fa-football-ball {
  color: rgb(173, 78, 54);
  filter: drop-shadow(0px 0px 1.65px black);
  animation: appleAndFootBallScaleAnimation 0.85s alternate infinite linear;
  -webkit-animation: appleAndFootballScaleAnimation 0.85s alternate infinite
    linear;
}

@keyframes appleAndFootballScaleAnimation {
  /* This adds animation to football and apple by making them grow and shrink back to normal within 1 second.*/
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.4);
  }
}

#author {
  margin-top: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: blue;
}

#game-over-container {
  /* The first four lines place the div exactly in the middle. By moving top right ot center. 
  Then translating -50% of the size of the div. So, no matter what the div size is it will be placed in center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://image.spreadshirtmedia.com/image-server/v1/compositions/T1040A70PA2252PT26X21Y4D1010306115FS4256/views/1,width=500,height=500,appearanceId=70,backgroundColor=fff/sad-snake-trucker-cap.jpg");
  background-size: 100% 100%;
  border: 1px solid rgb(3, 82, 3);
  border-radius: 10px;
  width: 450px; /* These will have to change depending on how many rows and columns*/
  height: 500px;
  box-shadow: 0px 0px 0px 100vmax rgba(0, 0, 0, 0.4);
  color: rgb(3, 82, 3);
  display: none;
}

#game-over-header {
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

#game-over-high-score {
  margin-left: 10px;
}

#game-over-score {
  margin-right: 10px;
  float: right;
}

#replay {
  position: absolute; /* absoloute, bottom, and left place the div at the bottom of the div*/
  bottom: 0;
  left: 0;
  border: 2.5px solid rgb(3, 82, 3);
  border-radius: 10px;
  margin: 10px 10px 10px 67.5px;
  /* width of container * .3 = total width left subtracting the replay button. Then divide that in half. That is how for we should push replay button to the right ot place it in the center */
  width: 70%;
  height: 10%;
  font-size: 18px;
  font-weight: 500;
}

.fa-play {
  margin-right: 10px;
}
